@-ms-viewport {                  /*  Specifies the width of the content area */
    width: device-width;
}

*, :after, :before {                /*  All elements selected */
    box-sizing: border-box;
}
body {                             /*    body element selected   */
    
    background: #f8f8f8;
    color: #212529;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header {                       /*  header element  */
    box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
    padding: 20px;
    background: #fff;
    height: 90px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    text-align: left;
    padding-left: 250px;
}
footer {                      /*   footer element  */
    display: contents;
    position: absolute;
    background: #e7e7e7;
}
div.footer-copyright {          /*  footer-copyright class in div */
    display: inline;
    padding: 25px;
    color: #7a7a7a;
}
 div.footer-credits {               /*  footer-credits class in div */
    padding: 25px;
    color: #7a7a7a;
}

p.footer-data1 {                        /*  footer-data1 class in div */
    display: inline;
    color: #7a7a7a;
}
p#footer-data2 {                         /*  footer-data2 class in div */
    padding-left: 80%;
}
 a.menu-title {                         /*  menu-title class in div */
    display: table-row;
}
a {                                     /*  a element   */
    color: #353535;
    font-family: serif;
    text-decoration: none;
    font-size: smaller;
}
ul.side-menu li:hover {                /*  hover over list in side menu ul   */
     background-color: #fdbd10;
     transition: 0.9s;
}
ul.side-menu li.active:before {         /*  before active list in ul class side-menu    */
    content: " ";
    background: #ef3e42;
    color: #fff;
    position: absolute;
    width: 7px;
    height: 200px;
    transform: translateY(-34%);
    left: 0;
}
i.dashboard {                                /* i class dashboard    */
    content:url(../../includes/images/home.svg);
    height:40px;
    width:40px;
    display:inherit;
}
i.profile {                                  /*  i class profile   */
    content:url(../../includes/images/profile.svg);
    height:40px;
    width:40px;
    display:inherit;
}
i.contact {                                  /*  i class contact */
    content:url(../../includes/images/social.svg);
    height:40px;
    width:40px;
    display:inherit;
}
i.help {                                     /* i class help */
    content:url(../../includes/images/help.svg);
    height:40px;
    width:40px;
    display:inherit;
}
.developers-panel {                     /*  class developers-panel    */
    opacity: 0.8;
    color: #373737;
    margin-bottom: 20px;
    padding: 20px;
    top: 20px;
    border: initial;
    background: #fff;
    border-radius: .1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 1.25rem;
    box-shadow: inset 0 1px 14px 4px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
}
ul.navigation li::before {              /*  before list ul navigation class */
    content: ">";
    margin-right: 10px;
    font-size: 11px;
}
ul.navigation li.first::before {                /*  before firstlist ul class navigation  */
    content: "";
    margin-right: 10px;
    font-size: 11px;
}
.hr-line {                          /* class hr-line    */
    border-bottom: 1px solid #d7d7d7;
}
sidepanel {                 /* element sidepanel    */
    position: fixed;
    top: 74px;
    left: 0;
    width: 200px;
    box-shadow: 10px 0px 12px 5px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
    background-color: #fec818;
    border-radius: 6px;
    -webkit-transition: background-color .2s linear, width .2s ease-in-out;     /* Safari 6.0 - 9.0 */
    -moz-transition: background-color .2s linear, width .2s ease-in-out;      /*Firefox*/  
    height: 100%;
}
span.title {                    /*  span title class    */
    padding-left: 200px;
}
.page-full-wide {               /*  class page-full-wide    */
    width: 100%;
}
bodypanel {             /* element bodypanel    */
    display: block;
    position: absolute;
    height: 80%;
    top: 60px;
    left: 200px;
    right: 0px;
    padding: 40px;
}
ul.navigation {                /*  ul navigation class   */
    padding: 0px;
    display: inline-flex;
}
 ul.side-menu {             /*  ul class side-menu    */
    padding: 0px;
}
ul.side-menu li {           /* list in ul class side-menu   */
    height: 200px;
    display: block;
    background: white;
    text-align: center;
    padding: 67px;
    border-bottom: solid 1px #a6a6a6;
}
.user-details {             /* class user-details   */
    display: inline-table;
}
ul.navigation li a {            /* a in li in ul class navigation  */
    color: #353535;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-size: 12px;
}
ul.navigation li.active a {             /* a in li class active in ul class navigation  */
    color: #f8f8f8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
span.user {                 /* class user in span */
    float: right;
    text-align: right;
}
span.username {             /* class username in span */
    font-size: medium;
    vertical-align: -webkit-baseline-middle;            /* Safari 6.0 - 9.0 */
    vertical-align: -moz-baseline-middle;               /*Firefox*/
    padding-right: 15px;
    color: #878787;
}
span.logout a {             /* a in span logout class */
    display: block;
    font-size: smaller;
    color: #545454;
    font-style: italic;
    padding-right: 15px;
    text-decoration: underline;
}
img.profilepicture {                /* img class profilepicture */
    border-radius: 160px;
    width: 55px;
    vertical-align: -webkit-baseline-middle;            /* Safari 6.0 - 9.0 */
    vertical-align: -moz-baseline-middle;               /*Firefox*/
}
ul.navigation li {                  /* li in u class navigation */
    padding-left: 10px;
    left: 49px;
    list-style-type: none;
}
h1 {                            /* h1 element */
    font-size: 1.75rem;
    display: inline-block;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
td {                    /* td element */
    padding: 10px;
}
.hidden {               /* hidden class */
    display: none;
    opacity: 0;
}
img.logo {               /* img logo class */
    width: 100px;
    height: 80px;
    position: fixed;
    top: 5px;
    left: 40px;
}
.page {                /* page class */
    width: 100%;
    display: flex;
    min-height: 100%;
}
.page-left-side {           /* class page-left-side */
    width: 70%;
}
.page-right-side {          /* class page-right-side */
    margin-bottom: 20px;
    padding: 20px;
    right: 24px;
    top: 120px;
    height: 247px;
    border: initial;
    background: #fff;
    border-radius: .1rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 1.25rem;
    box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
    width: 24%;
    transition: transform .2s;
}
.survey-item:hover {            /* hover over class survey-item */
    box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
    opacity: 1;
    transition: 0.9s;
    color: black;
    transform: scale(1.0, 1.1);
    width: 98%;
}
ul.navigation {                 /* ul class navigation */
    background-color: #fdbd10;
    padding: 2px;
    border-radius: 18px;
    width: 200px;
    vertical-align: middle;
}
.progress-title {           /* class progress-title */
    padding: 20px;
    font-size: larger;
}
.survey-item {               /* class survey-items */
    opacity: 0.8;
    color: #373737;
    margin-bottom: 20px;
    padding: 20px;
    top: 20px;
    border: initial;
    background: #fff;
    border-radius: .1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 1.25rem;
    box-shadow: inset 0 1px 14px 4px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
}
.progress-widget {              /* class progress-widget */
    align-self: center;
}
div#survey-first-five-questions {           /* pseudo-elements.. survey-first-five-questions in div */
    display: none;
}
div#survey-second-five-questions {          /* pseudo-elements.. survey-second-five-questions in div */
    display: none;
}
div#survey-third-five-questions {          /* pseudo-elements.. survey-third-five-questions in div */
    display: none;
}
div#survey-exit-page {                     /* pseudo-elements..survey-exit-page in div */
    display: none;
}
button.next-question-button {               /* button class next-question-button */
    padding: 15px;
    color: white;
    background-color: #ef3e42;
    border-radius: 19px;
    font-weight: bold;
}
div#controls {                              /* pseudo elements.. controls in div */
    padding: 10px;
    text-align: -webkit-center;         /* Safari 6.0 - 9.0 */
    text-align: -moz-center;
}
span.question-text {                        /* class question-text in span */
    padding-left: 17px;
    position: absolute;
}
span.question-index {                       /* class question-index in span */
    font-size: large;
}
.answer-item {                              /* class answer-item */
    padding: 1px;
}
input[type="radio"] {                       /* input element when type radio */
     font-size: -webkit-xxx-large;        /* Safari 6.0 - 9.0 */
     font-size: -moz-xxx-large;             /*Firefox*/
}
.answer-container {                         /* class answer-container */
    padding-left: 90px;
    padding-top: 5px;
    display: flow-root;
}
.all-developer-cards {                  /* class all-developers-cards */
    width: 100%;
    display: flex;
    padding-top: 17px;
    place-content: center;
}
.single-developer-card {                /* class single-developer-card*/
    -webkit-filter: grayscale(100%);    /* Safari 6.0 - 9.0 */
    -moz-filter: grayscale(100%);       /*Firefox*/
    filter: grayscale(100%);
    display: block;
    background: #f8f8f8;
    margin: 15px;
    transition: transform .2s;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 1.25rem;
    box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
}
.single-developer-card:hover {          /* hover over class single-developer-card */
    -webkit-filter: grayscale(0%);  /* Safari 6.0 - 9.0 */
    -moz-filter: grayscale(0%);        /*Firefox*/
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: 0.9s;
}
.developer-details {               /* class developer-details */
    display: block;
    background: #fec819;
    padding: 10px;
}
img.developer-picture {             /* img class developer-picture */
    border-radius: 50%;
    padding: 20px;
    height: 320px;
    width: 320px;
}
.developer-name {               /* class developer-name */
    font-family: sans-serif;
    font-size: 28px;
    padding-left: 10%;
}
.developer-student-id {             /* class developer-student-id */
    padding-left: 10%;
}
.developer-skills {             /* class developer-skills */
     padding-left: 10%;
}
.developer-contact {                /* class developer-contact */
    padding-left: 10%;
}
.login-panel,.resetpassword-panel {         /* class login-panel and resetpassword-panel */
    margin-top: 100px;
    height: 500px;
    width: 30%;
    text-align-last: center;
    opacity: 0.8;
    color: #373737;
    margin-bottom: 20px;
    padding: 20px;
    top: 20px;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
}
.register-panel {                   /* class register-panel */
    margin-top: 100px;
    height: auto;
    width: 60%;
    text-align-last: center;
    opacity: 0.8;
    color: #373737;
    margin-bottom: 20px;
    padding: 20px;
    top: 20px;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
}
.row {                    /* class row */
    margin-top: 10px;
    display: block;
    padding: 10px;
}
input.textfield {               /* input class textfield */
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #c1c1c1;
    box-shadow: inset 0 1px 8px 5px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
}
label.login-label,.resetpassword-label {            /* label class login-label and resetpassword-label */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: left;
    color: #5d5d5d;
    font-size: medium;
    padding: 1px;
}
input.checkbox {                        /* input class checkbox */
    float: left;
}
button.submit-login-button {                /* button class submit-login-button */
    float: right;
    cursor: pointer;
    display: block;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background: #fdbe11;
    color: #484848;
    font-weight: 800;
}
.submit-reset-button,.submit-register-button {              /* class submi-reset-button and submit-register-button */
    cursor: pointer;
    display: block;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background: #fdbe11;
    color: #484848;
    font-weight: 800;
}

.forgot-passowrd.newuser-link {
    display: inline-flex;
}

a.forgot-userid {
    float: left;
}
a#login-page {
    float: left;
    margin-bottom: 8px;
}
.forget-pass-userid-both {
    padding: 10px;
}


.register-button {
    position: absolute;
    right: 0px;
    margin: 20px;
}

button.register-button {                        /* button class register-button */
    background-color: #ef3e42;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    float: right;
    margin: 10px;
}
a.new-user-href {                       /* a class new-user-href */
    color: #353434;
    padding-top: 10px;
    float: right;
    padding: 0px;
    font-size: inherit;
    font-weight: bold;
}
div a {                         /* div a element */
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div#images {                    /* images in div */
    padding: 10px;
}
.register-image  {          /* class register-image */
    padding-right: 15px;
}
.register-label {               /* class register-label */
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #5e5e5e;
    float: left;
}
.register-input {               /* class register-input */
    display: block;
    border-radius: 3px;
    border: solid 1px #c1c1c1;
    box-shadow: inset 0 1px 8px 5px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgray;
    font-size: medium;
    width: 70%;
    height: 30px;
    margin-right: 15px;
}
.hr-line1 {                 /* class hr-line1 */
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 17.5px;
}
.gender-option-select {         /* class gender-option-select */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5px;
}
.gender-selection {                 /* class gender-selection */
    margin-top: 10px;
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}       /* class w3-light-grey and class w3-light-gray, hover on class w3-hover-light-grey and w3-hover-light-gray */
.w3-green, .w3-hover-green:hover {      /* class w3-green and hover on w3-hover-green */
    color: #fff!important;
    background-color: #fdbd10!important;
    padding: 6px;
    border-radius: 5px;
    display: block;
    position: static;
}